<header class="mui-row m-header-container">
  <div class="mui-col-sm-9 mui-col-xs-9"  routerLink="/index"><span class="u-logo-icon"></span></div>
  <div class="mui-col-sm-1 mui-col-xs-1 u-icon"><a routerLink="/search"><span class="u-search-icon"></span></a></div>
  <a class="mui-col-sm-2 mui-col-xs-2 u-icon" href="#topPopover"><span class="u-person-icon"><i></i></span><span class="u-arrow-icon" ></span></a>
</header>
<div id="topPopover" class="mui-popover" style="">
  <!--<div class="mui-popover-arrow"></div>-->
  <!--<div class="mui-scroll-wrapper">-->
    <div class="mui-scroll" style="

    display: block;
    top: -20px;
    left: 155px;
    width: 130px;
">
      <ul class="mui-table-view" style="border-radius: 2px;    font-size: 0.9rem;">
        <a routerLink="/login"><li class="mui-table-view-cell" style="color:#fff">我的学习</li></a>
        <a href="#"><li class="mui-table-view-cell" style="color:#fff">我的购物车</li></a>
        <a href="#"><li class="mui-table-view-cell" style="color:#fff">我的订单</li></a>
        <a href="#"><li class="mui-table-view-cell" style="color:#fff">我的优惠券</li></a>
        <a href="#"><li class="mui-table-view-cell" style="color:#fff">登录/注册</li></a>
      </ul>
    <!--</div>-->
  </div>

</div>

