

.search-container{
  padding: 0.4rem ;
  display: block;
  background: #F7F9FC;

  .u-search-left{
    display: inline-block;
    //padding: 0.5rem;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //vertical-align: middle;
    line-height:30px;
    float:left;
    width:80%;
    input{
      border-radius:20px;
      background: #fff;
      color:#3C4A55;
      height: 30px;
      font-size: 0.5rem;

    }
  }
  .u-search-right{
    display: inline-block;
    display: flex;
    justify-content: center;
    line-height: 28px;
    a{
      font-size: 0.9rem;
      color:#3C4A55;
    }

  }
}
